Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [1]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [8]:
y1 = np.array([173, 175, 180, 178, 177, 185, 183, 182])
y2 = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
y3 = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [3]:
k = 3
n = 21

In [5]:
y_mean_1 = np.mean(y1)
y_mean_1

179.125

In [9]:
y_mean_2 = np.mean(y2)
y_mean_2

178.66666666666666

In [10]:
y_mean_3 = np.mean(y3)
y_mean_3

172.72727272727272

In [20]:
y1 = np.array([173, 175, 180, 178, 177, 185, 183, 182])
y2 = np.array([177, 179, 180, 188, 177, 172, 171, 184])
y3 = np.array([172, 173, 169, 177, 166, 180, 178, 177])

In [21]:
total = np.array([y1, y2, y3])
total

array([[173, 175, 180, 178, 177, 185, 183, 182],
       [177, 179, 180, 188, 177, 172, 171, 184],
       [172, 173, 169, 177, 166, 180, 178, 177]])

In [22]:
y_total = np.mean(total)
y_total

177.20833333333334

In [26]:
y4 = y1+y2+y3
y4

array([522, 527, 529, 543, 520, 537, 532, 543])

In [27]:
np.mean(y4)

531.625

In [28]:
mean_t = 531.62/3
mean_t

177.20666666666668

In [29]:
np.sum((total - 177.21)**2)

633.9584

In [30]:
S_f = np.sum((y_total - mean_t)**2)*7 + np.sum((y_mean_2 - mean_t )**2)*7 + np.sum((y_mean_3 - mean_t)**2)*7
S_f

83.68797500000029

In [31]:
S_ost = np.sum((y1 - mean_t)**2)+ np.sum((y2 - mean_t )**2) + np.sum((y3 - mean_t)**2)
S_ost

633.9584

In [32]:
S= S_ost+S_f
S

717.6463750000003

In [33]:
D_f = S_f/(k-1)
D_f

41.843987500000146

In [34]:
D_ost = S_ost/(n-k)
D_ost

28.81629090909091

In [35]:
F_n = D_f/D_ost
F_n

1.452094845655493

In [36]:
f = stats.f_oneway(y1,y2, y3)
f

F_onewayResult(statistic=2.580938344387129, pvalue=0.09948994808623586)